html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #dbd6cf;
  line-height: 1.5;
}

div {
  background-color: #79756f;
}

h1, nav {
  text-align: center;
}

h1 {
  font-family: 'Bevan', serif;
  color: #fff;
}

ol li {
  font-family: sans-serif;
  color: #fff;
  background-color: #713837;
  list-style-type: none;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
}
